<style>
pre { display: inline-block; }
</style>
<body class="f fic v">
	<div class="f h">
		<a class="$RB" href="/shop/$shop_id">💰</a>
		$MENU
	</div>

	<h1 class="tac">$_TITLE</h1>

	<form action="add" method="POST" class="v f fic">
		<input type="hidden" name="shop_id" value="$shop_id" />
		<label>
			$__TITLE
			<input required name="title"></input>
		</label>
		<label>
			$_DESCRIPTION
			<textarea name="description"></textarea>
		</label>
		<label>
			$_IMAGES
			<div id="images" class="h f fic">
				<textarea type="url" name="images"></textarea>
				<a class="$RB" href="/e/images" target="_blank">🔍</a>
			</div>
		</label>
		<label>
			$_STOCK
			<input required type="number" name="stock" min="0" value="1"></input>
		</label>
		<label>
			$_PRICE
			<input required type="number" name="price" min="0" step="0.01"></input>
		</label>
		<button id="submit">$_SUBMIT</button>
	</form>
</body>

<script>
$JS
</script>
