/.htpasswd
/.uploaders
/public
/users
/git
/bin
/sessions
/usr
/dev
/tmp
/var
/root
/home
/cache
/htdocs/*
!/htdocs/vss
/htdocs/vss/c.h
/htdocs/vss/t.h
/etc
/cgi-bin
/logs
/conf
*.sw?
/home
/sbin
/.blacklist
/cgit
/lib
/lib64
/items
/proc
/sys
/.depend*
/.pnpm-store
/*.pem
