/.htpasswd
/.uploaders
/public
/users
/git
/bin
/sessions
/usr
/dev
/tmp
/var
/htdocs/*
!/htdocs/vss
/htdocs/vss/c.h
/htdocs/vss/t.h
/src/mpfd
/src/crypt_checkpass
/etc
/cgi-bin
/logs
/conf
*.sw?
/home
/sbin
/.blacklist
/cgit
/items/*/items/*
/items/winbuntu/*
!/items/winbuntu/.*
