/.htpasswd
/.uploaders
/public
/shops
/sems
/users
/git
/bin
/poems
/sessions
/usr
/dev
/tmp
/var
/htdocs/*
!/htdocs/vss
/htdocs/vss/c.h
/htdocs/vss/t.h
/src/mpfd
/src/crypt_checkpass
/etc
/cgi-bin
/logs
/conf
*.sw?
/shop/*
!/shop/.*
/songbook/*
!/songbook/.*
/chords/*
!/chords/.*
/poem/*
!/poem/.*
/sem/*
!/sem/.*
/winbuntu/*
/home
/sbin
/.blacklist
/cgit
*.sw?
