<meta name="color-scheme" content="light dark">
<style>
pre,form { margin: 0 }
pre {
	display: inline-block;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.s_k9 {
	max-width: 512px;
}
</style>

<body class="f h0 p0 svfv" style="margin: 0" path="$DOCUMENT_URI">
	<div id="main" class="f v fg fic oav bsf"><div class="f v0 p4 sf rel bb">
		$_TITLE
		<div class="$FULL_SIZE fg v f fic">
			$CONTENT
			$BOTTOM_CONTENT
		</div>
	</div></div>
	<label class="f svf v0 al menu main">
		<span class="p8">⋮</span>
		<input checked type="checkbox" />
		<div class="f fg v0 ts ttc functions" id="menu">
			$INDEX_ICON
			$MENU
			$MENU_LEFT
			$FUNCTIONS
		</div>
	</label>
</body>
