<style>
pre,form { margin: 0 }
pre {
	display: inline-block;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.s_k9 {
	max-width: 512px;
}
</style>

<body class="f h0 p0 svfv" style="margin: 0">
	<div class="f v0 fg fic oav"><div class="v p4 sf rel">
		$_TITLE
		<div class="v f fic">
			$CONTENT
			$BOTTOM_CONTENT
		</div>
	</div></div>
	<label class="f v0 al menu main">
		<span class="p8">⋮</span>
		<input checked type="checkbox" />
		<div class="v0 ts ttc functions" id="menu">
			$INDEX_ICON
			$MENU
			$MENU_LEFT
			$FUNCTIONS
		</div>
	</label>
</body>
