<body class="v f fic">
	<header class="_ f fic">
		$SCHOOL_BTN
		$MENU
	</header>

	<h1 class="tac">$class_id - $class_title</h1>

	<div class="_">
		<div>
			$_SEMESTER $class_semester
		</div>

		<div class="c0 ps rs _s">
			<a class="tdn _s" href="/e/teacher?school_id=$school_id&teacher_id=$teacher_id">
				<small>$_TEACHER</small>
				<span>$teacher_id</span>
			</a>
			<a class="btn round tss pxs cf0 c15" href="/e/class-teacher-associate?school_id=$school_id&class_id=$class_id">🖉</a>
		</div>
	</div>

</body>

