<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/neverdark/vim.css" />
	</head>
<style>
pre { display: inline-block; }
</style>
	<body class="cf cb v p">
		<header class="_ f fic">
			<h1 class="fg">$_TITLE</h1>
			$MENU
		</header>
		<div class="f _ fw">
			$IMAGES
		</div>

		<div class="tar">
			<a class="txl round c0 ps tdn ch00" href="/cgi-bin/image-add.cgi?lang=$lang">+</a></div>
	</body>
</html>

