<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/neverdark/vim.css" />
	</head>
	<body class="cf cb f vn fcc fic sfv tac">
		$MENU
		<h1>
			<a href="/cgi-bin/poem.cgi?lang=$lang">$_POEM</a>
			(<a href="https://anonymous:anonymous@tty.pt/cgi-bin/poem.cgi?lang=$lang">$_ANONYMOUS</a>)
		</h1>
		<h1><a href="/cgi-bin/register.cgi?lang=$lang">$_REGISTER</a></h1>
		<h1><a href="/neverdark/index.html">$_NEVERDARK</a></h1>
		<h1>
			<a href="/cgi-bin/shops.cgi?lang=$lang">$_SHOPS</a>
			(<a href="https://anonymous:anonymous@tty.pt/cgi-bin/shops.cgi?lang=$lang">$_ANONYMOUS</a>)
		</h1>
		<h1><a href="/sem.html">$_SEM</a></h1>
		<h1><a href="https://github.com/quirinpa/vim.css">vim.css</a></h1>
		<h1><a href="/cgi-bin/tty.cgi?lang=$lang">$_TERMINAL</a></h1>
	</body>
</html>


