<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/neverdark/vim.css" />
		<title>tty.pt</title>
	</head>
	<body class="cf cb f vn fcc fic sfv tac v">
		$MENU
		$LOGINLOGOUT
		<div class="txl"><a href="/cgi-bin/poem.cgi?lang=$lang">$_POEM</a></div>
		<div class="txl"><a href="/neverdark/index.html">$_NEVERDARK</a></div>
		<div class="txl"><a href="/cgi-bin/shops.cgi?lang=$lang">$_SHOPS</a></div>
		<div class="txl"><a href="/sem.html">$_SEM</a></div>
		<div class="txl"><a href="https://github.com/quirinpa/vim.css">vim.css</a></div>
		<div class="txl"><a href="/cgi-bin/tty.cgi?lang=$lang">$_TERMINAL</a></div>
	</body>
</html>


