<body class="cf cb f fic v p">
	$MENU

	<h1 class="tac">$_TITLE</h1>

	<form action="./login.cgi" method="POST" class="v f fic">
		<label>
			$_USERNAME: <input required name="username"></input>
		</label>
		<label>
			$_PASSWORD: <input required type="password" name="password"></input>
		</label>

		$ERROR

		<button>$_SUBMIT</button>
	</form>

	<a class="btn" href="/cgi-bin/register.cgi">
		$_REGISTER
	</a>

	<a class="btn" href="https://anonymous:anonymous@tty.pt/cgi-bin/user.cgi">
		$_ANONYMOUS_LOGIN
	</a>
</body>
