<body class="cf cb f fic v">
	$MENU

	<h1 class="tac">$_TITLE</h1>

	<form action="./login.cgi" method="POST" class="v f fic">
		<label>
			$_USERNAME: <input required name="username"></input>
		</label>
		<label>
			$_PASSWORD: <input required type="password" name="password"></input>
		</label>
		<button>$_SUBMIT</button>
	</form>

	$ERROR

	<a class="c0 cf15 p" href="/cgi-bin/register.cgi?lang=$lang">
		$_REGISTER
	</a>

	<a class="c0 cf15 p" href="https://anonymous:anonymous@tty.pt/cgi-bin/user.cgi?lang=$lang">
		$_ANONYMOUS_LOGIN
	</a>
</body>
