<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/neverdark/vim.css" />
	</head>
<style>
pre { display: inline-block; }
</style>
	<body class="cf cb v p">
		<header class="_ f fic">
			<h1 class="fg">$_TITLE</h1>
			<a class="txl" href="/cgi-bin/shop.cgi?lang=$lang&shop_id=$shop_id">💰</a>
			$MENU
		</header>
		<div class="f _ fw">
			$PRODUCTS
		</div>
		$ORDER_STATE
		<h2 class="tac">$TOTAL€</h2>
	</body>
</html>



