<style>
pre,form { margin: 0 }
pre {
	display: inline-block;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.s_k9 {
	max-width: 512px;
}
</style>

<body class="cf cb v f fic">
	<header class="_ f fic">
		$MENU
		<div class="cf15 txl">$COUNTER</div>
	</header>
	<h1 class="tac">$_TITLE</h1>

	<pre>
$_POEM
	</pre>

	<form action="./poem.cgi?lang=$lang#comments" method="post" class="_ f ps fic">
		<a href="#comments" class="txl">💬</a>
		<input class="fg" name="comment"></input>
	</form>

	<pre id="comments" class="s_k9">
$_COMMENTS
	</pre>
</body>
