<style>
pre,form { margin: 0 }
pre {
	display: inline-block;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.s_k9 {
	max-width: 512px;
}
</style>

<body class="v">
	<header class="h f fw v fic fcc">
		<a href="#comments" class="$RB">💬</a>
		$MENU
		<div class="cf15 tsxl">$COUNTER</div>
	</header>

	<h1 class="tac">$_TITLE</h1>

	<pre>
$_POEM
	</pre>

	<form action="./poem#comments" method="post" class="h f fic">
		<input type="hidden" name="poem_id" value="$poem_id"></input>
		<input class="fg" name="comment"></input>
	</form>

	<pre id="comments">
$_COMMENTS
	</pre>
</body>
