<style>
pre { display: inline-block; }
</style>
<body class="cf cb f v fic v">
	<div class="f _">
		<a class="txl" href="/cgi-bin/shop.cgi?lang=$lang&shop_id=$shop_id">💰</a>
		$MENU
	</div>

	<h1 class="tac">$_TITLE</h1>

	<form action="/cgi-bin/product-add.cgi" method="POST" class="v">
		<input type="hidden" name="lang" value="$lang" />
		<input type="hidden" name="shop_id" value="$shop_id" />
		<label>
			$__TITLE
			<input required name="title"></input>
		</label>
		<label>
			$_DESCRIPTION
			<textarea name="description"></textarea>
		</label>
		<label>
			$_IMAGE
			<div class="_ f fic">
				<input type="url" name="image"></input>
				<a class="txl round c0 ps tdn ch00" href="/cgi-bin/images.cgi?lang=$lang" target="_blank">🔍</a>
			</div>
		</label>
		<label>
			$_STOCK
			<input required type="number" name="stock" min="0" value="1"></input>
		</label>
		<label>
			$_PRICE
			<input required type="number" name="price" min="0" step="0.01"></input>
		</label>
		<button>$_SUBMIT</button>
	</form>
</body>
