<style>
pre { display: inline-block; }
</style>
<body class="cf cb f fic v p">
	<div class="f _">
		<a class="txl" href="/cgi-bin/shop.cgi?shop_id=$shop_id">💰</a>
		$MENU
	</div>

	<h1 class="tac">$_TITLE</h1>

	<form action="/cgi-bin/product-add.cgi" method="POST" class="v f fic">
		<input type="hidden" name="shop_id" value="$shop_id" />
		<label class="mkn">
			$__TITLE
			<input required name="title"></input>
		</label>
		<label>
			$_DESCRIPTION
			<textarea name="description"></textarea>
		</label>
		<label>
			$_IMAGES
			<div class="_ f fic">
				<textarea type="url" name="images"></textarea>
				<a class="txl round ps btn" href="/cgi-bin/images.cgi" target="_blank">🔍</a>
			</div>
		</label>
		<label>
			$_STOCK
			<input required type="number" name="stock" min="0" value="1"></input>
		</label>
		<label>
			$_PRICE
			<input required type="number" name="price" min="0" step="0.01"></input>
		</label>
		<button>$_SUBMIT</button>
	</form>
</body>
