<body class="f fic v">
	$MENU
	<h1 class="tac">$_REGISTER</h1>
	<form action="./register" method="post" class="v f fic">
		<label>
			$_USERNAME: <input required name="username"></input>
		</label>
		<label>
			$_PASSWORD: <input required type="password" name="password"></input>
		</label>
		<label>
			$_REPEAT_PASSWORD: <input required type="password" name="password2"></input>
		</label>
		<label>
			$_EMAIL: <input required type="email" name="email"></input>
		</label>

		<button>$_SUBMIT</button>
	</form>

	<a class="btn c1" href="/e/cookie">
		$_COOKIE_POLICY
	</a>

	<a class="btn" href="/e/login">
		$_LOGIN
	</a>
</body>
