<style>
pre { display: inline-block; }
</style>

<body class="cf cb v p f fic">
	<header class="_ f fic">
		<!--
		<form action="./shops.cgi" method="get" class="_ f ps fic">
			<input autofocus type="search" name="query"></input>
			<select name="category" multiple>
				$SHOP_CATEGORIES
			</select>
			<input type="hidden" name="lang" value="$lang"></input>
			<button class="tl">🔎</button>
		</form>
		-->
		<a class="txl" href="/cgi-bin/orders.cgi?shop_id=$shop_id&lang=$lang">🚚</a>
		<a class="txl" href="/cgi-bin/cart.cgi?shop_id=$shop_id&lang=$lang">🛒</a>
		$MENU
	</header>
	<h1 class="tac">$_TITLE</h1>
	$PRODUCTS
	$ADD_PRODUCT_BUTTON
</body>
