<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/neverdark/vim.css" />
	</head>
<style>
pre { display: inline-block; }
</style>
	<body class="cf cb v">
		<header class="_ f fic">
			<h1 class="fg">$_TITLE</h1>
			<!--<form action="./shops.cgi" method="get" class="_ f ps fic">
				<input autofocus type="search" name="query"></input>
				<input type="hidden" name="lang" value="$lang"></input>
			</form>-->
			$MENU
		</header>
		<div class="f _ fw">
			$SHOPS
		</div>
	</body>
</html>
