<body class="v f fic">
	<header class="h f fic">
		$SCHOOL_BTN
		$MENU
	</header>

	<h1 class="tac">$_EDIT $_TEACHER - $teacher_id</h1>

	<form action="/e/teacher-edit" method="POST" class="v f fic">
		<label>
			$_NAME
			<input required type="text" name="name" value="$name"></input>
		</label>

		<label>
			$_DOB
			<input required type="date" name="dob" value="$dob"></input>
		</label>

		<button>$_SUBMIT</button>

		<input type="hidden" name="school_id" value="$school_id"></input>
		<input type="hidden" name="teacher_id" value="$teacher_id"></input>
	</form>
</body>
